{% extends 'canales_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canales Home</title>
</head>
<body>
    {% block content %}
        <h1>Pagina principal control de canales</h1>

        <p>La página de administración de nuestra carnicería es una herramienta esencial para el funcionamiento de nuestro negocio. Permite a los administradores controlar todas las operaciones de compra y venta de animales, desde la recepción de pedidos hasta la entrega de los productos.</p>
    {% endblock %}
    
</body>
</html>