{% extends 'canales_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cow create in batch succes</title>
</head>
<body>
    {% block content %}
        <h3>Se creo el registro satisfactoriamente</h3>
        <h3>¿Que desea hacer?</h3>

        <a href="{% url 'canales_home' %}" class="btn btn-primary">Regresar al home</a>
        <a href="{% url 'cow_read' %}" class="btn btn-primary">Ir a los registros</a>
    {% endblock %}
</body>
</html>