{% extends 'canales_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimientos por fecha</title>
</head>
<body>
    {% block content %}
        <h1>Movimientos por fecha</h1>

        <a href="{% url 'purchases_by_date' %}" class="btn btn-primary">Filtrar compras</a>
        <a href="{% url 'processed_by_date' %}" class="btn btn-primary">Filtrar sacrificios</a>
      
    {% endblock %}
</body>
</html>